<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理后台</title>
    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
    <div class="app" id="app">
        <div class="top">
            <div class="top-left">
                <input type="text" class="title" value="管理后台">
            </div>
            <div class="top-right">
                <input class="name" type="text" value="用户:Admin" />
            </div>
            <div class="top-right">
                <div class="logout-btn">
                    <img class="logout" src="./img/注销.png" alt="" />
                </div>
                
            </div>
        </div>
        <div class="left">
                <ul class="nav">
                    <li class="item" :class="{active:item==active}" v-for="(item,index) in [1,2,3]" @click="itemClick(item)">
                        <input type="text" value="用户管理"/>
                    </li>
                </ul>
        </div>
        <div class="content">
                <div class="crumbs">
                    <input type="text" value="首页 > 数据管理">
                </div>
                <div class="table">
                    <div class="search">
                        <div class="search-left">
                            <span v-for="item in 2">
                                <input class="label" type="text" value="开始日期">
                                <input class="input" type="text" value="2017-07-06">
                            </span>
                        </div>
                        <div class="search-right">
                            <button>查 询</button>
                            <button>新 增</button>
                            <button>删　除</button>
                            <button>导 出</button>
                        </div>
                        
                    </div>
                    <table>
                        <thead>
                            <th v-for="item in 5" :key="item">
                                <input type="text" value="1"/>
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="item in 10" :key="item">
                                <td v-for="i in 5" :key="i">
                                    <input type="text" value="1" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="page">
                        <div class="page-left">
                            <input type="text" value="共有 90 条记录，当前第 1 / 9 页">
                        </div>
                        <div class="page-right">
                            <button>首　页</button>
                            <button>上一页</button>
                            <button>下一页</button>
                            <button>尾　页</button>
                            <input type="text" value="1"/>
                            <button>跳　转</button>
                        </div>

                    </div>
                </div>
        </div>
    </div>
    <script type="text/javascript">
        var app = new Vue({
          el: '#app',
          data: {
            active:1
          },
          methods:{
            itemClick(index){
                console.log(index);
                this.active = index;
            }
          }
        })
    </script>
</body>
</html>